<link rel="stylesheet" href="/css/bootstrap.min.css">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">

    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/img/WebIIIEntrega1MarromFF.png" width="60">
        </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link active" href="/">Início</a>
          </li>

          <!-- --------------------VENDEDOR-------------------- -->

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Vendedor
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/vendedor/cadastrar">Cadastrar</a></li>
              <li><a class="dropdown-item" href="/vendedor">Cadastrados</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a target="_blank" class="dropdown-item" href="/vendedor/relatorio">Relatório</a></li>
            </ul>

            <!-- --------------------CARRO-------------------- -->

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Carro
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/carro/cadastrar">Cadastrar</a></li>
                <li><a class="dropdown-item" href="/carro">Cadastrados</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a target="_blank" class="dropdown-item" href="/carro/relatorio">Relatório</a></li>
              </ul>            
          </li>

          <!-- --------------------USUÁRIO-------------------- -->

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Usuário
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/usuario/cadastrar">Cadastrar</a></li>
              <li><a class="dropdown-item" href="/usuario">Cadastrados</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a target="_blank" class="dropdown-item" href="/usuario/relatorio">Relatório</a></li>
            </ul>            
        </li>

        </ul>

        <ul>
          <li>
            <a class="nav-link active" href="/usuario/logout">Encerrar Seção</a>
          </li>  
        </ul>
        
      </div>

    </div>
  </nav>