<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <%- include("partials/header.ejs") %>
</head>

<body>

    <div style="margin-top: 5%;"></div>

    <div class="container">

    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 25rem;">
                <img style="height: 240px;" src="/img/dodgeCharger70.webp" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Carros Esportivos Clássicos</h5>
              <p class="card-text">A história da indústria automobilística é marcada por carros clássicos que 
                definem novos padrões. São esses veículos que encantam públicos de diferentes idades, 
                tornando-se uma referência para os carros mais vendidos e sonho de consumo de várias gerações.
                Carros que vão transportá-lo para outras gerações.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 25rem;">
                <img style="height: 240px;" src="/img/fiatfatsback23.jpg" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Carros de Passeio e SUVs</h5>
              <p class="card-text">Para quem gosta de viajar com a família e passar por aventuras sem deixar 
              o conforto e espaço de lado. Você pode passar por trilhas lamacentas e terrenos 
              com mais adversidades com tranquilidade. Além disso, alguns modelos vêm equipados com tração 
              nas quatros rodas. Passando segurança em outros ambientes, como o urbano.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 25rem;">
                <img style="height: 240px;" src="/img/bugatti2019.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Carros Esportivos Modernos</h5>
                <p class="card-text">Veículos com o foco em um desempenho dinâmico para o motorista, 
                pensando em questões como a aceleração, a velocidade máxima ou mesmo na 
                'emoção' e na 'liberdade' que dirigir um desses modelos pode oferecer. <br> Levando a 
                experiência nas pistas de corrida para o dia a dia na cidade.</p>
              </div>
            </div>
        </div>
    </div>

    </div>

</body>

<foot>
    <%- include("partials/footer.ejs") %>
</foot>

</html>