<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório de Carros</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    
    <div class="container">

        <table class="table">

            <tr>
                <th>Placa</th>
                <th>Fabricante</th>
                <th>Cor</th>
            </tr>

            <% for(let carro of listaCarros) {  %>
                <tr>
                    <td>
                        <%= carro.placa%>
                    </td>
                    <td>
                        <%= carro.fabricante%>
                    </td>
                    <td>
                        <%= carro.cor%>
                    </td>
                </tr>

            <% } %>

        </table>

    </div>

</body>

</html>